{% load i18n %}
<div class="modal fade" tabindex="-1" role="dialog" id="just-submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans "Your application has been submitted" %}</h4>
      </div>
      <div class="modal-body">
        {% blocktrans trimmed %}
          <p><strong>What happens now?</strong></p>
          <ul>
            <li>Your application will be process by the Enrolment service</li>
            <li>An email confirming your application submission will be sent to the e-mail address you specified</li>
            <li>Your application summary will be available at all time by connecting to this website</li>
          </ul>
          <p>We thank you for choosing UCLouvain and wish you a successful training!</p>
        {% endblocktrans %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Finish" %}</button>
      </div>
    </div>
  </div>
</div>
<script>
$(function () {
  $('#just-submitted').modal('show')
})
</script>
