{# Modal form leaving confirmation #}
{% load i18n %}

<div
  class="modal fade"
  id="prevent-quitting-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="prevent-quitting-label"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="prevent-quitting-label">
          {% trans "Leave the page?" %}
        </h4>
      </div>
      <div class="modal-body">
        <p>
          {% trans "You seem to have unsaved modifications, they will be lost." %}
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
        >
          {% trans "Cancel" %}
        </button>
        <a
          class="btn btn-primary"
          id="continue-link"
          href="#"
        >
          {% trans "Exit" %}
        </a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
(function () {
    // Notify user when something in a form has changed
    const initialData = {};
    let doCheckForm = true;
    let doBrowserPrevent = true;
    let allForms;

    /**
     * Save initial data of each form on page load
     *
     * Allows initialData refresh by triggering 'refreshFormInitial' event.
     * Does not store form with 'no-prevent-quitting' css class
     */
    const refreshFormInitial = function () {
        allForms = document.querySelectorAll('form:not(.no-prevent-quitting)');
        allForms.forEach(function (form) {
            const formData = new URLSearchParams(new FormData(form));
            initialData[form.getAttribute('action')] = formData.toString();
            form.addEventListener('submit', function () {
                // Prevent any checking if a form is being submitted
                doCheckForm = false;
            });
        });
    };
    document.addEventListener('DOMContentLoaded', refreshFormInitial);
    document.addEventListener('refreshFormInitial', refreshFormInitial);

    /**
     * Checks if a form data has changed compared to the initial data
     *
     * @param form
     * @returns {boolean}
     */
    function formHasChanged(form) {
        const formData = new URLSearchParams(new FormData(form));
        if (initialData[form.getAttribute('action')] !== formData.toString()) {
            return true;
        }
    }

    window.addEventListener('click', function (e) {
        // If the click is an opening anchor refreshing the window
        const isOpeningAnchor = e.target.tagName === 'A' && ['', '_self'].includes(e.target.target);
        // But not continue link (from modal) itself
        if (isOpeningAnchor && e.target.id !== 'continue-link') {
            allForms.forEach(function (form) {
                // Check the link is not part of the form
                if (!(form.querySelector('.quitting-context-excluded') || form).contains(e.target)) {
                    if (formHasChanged(form)) {
                        e.preventDefault();
                        // Show modal and change its 'continue' link so that it link to the same link that clicked
                        $('#prevent-quitting-modal').modal('show');
                        document.querySelector('a#continue-link').setAttribute('href', e.target.href)
                        // Do not show browser popup
                        doBrowserPrevent = false;
                        return false;
                    }
                }
            });
        }
    });
    window.addEventListener('beforeunload', function (e) {
        allForms.forEach(function (form) {
            if (doCheckForm && doBrowserPrevent && formHasChanged(form, e)) {
                // Cancel the event
                e.preventDefault(); // If you prevent default behavior in Mozilla Firefox prompt will always be shown
                // Chrome requires returnValue to be set
                return e.returnValue = "{% trans "Leave the page?" %} {% trans "You seem to have unsaved modifications, they will be lost." %}"
            }
        });
    });
})();
</script>
