{% extends "admission/doctorate/detail_tab_layout.html" %}
{% load i18n static admission index %}

{% block tab_content %}
    {% panel _("Residential address") %}
        <div class="row">
            <div class="col-md-4">{% field_data _("Street number") coordonnees.residential.street_number %}</div>
            <div class="col-md-4">{% field_data _("Street") coordonnees.residential.street %}</div>
            <div class="col-md-4">{% field_data _("Box") coordonnees.residential.postal_box %}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{% field_data _("Country") residential_country %}</div>
            <div class="col-md-4">{% field_data _("Postal code") coordonnees.residential.postal_code %}</div>
            <div class="col-md-4">{% field_data _("City") coordonnees.residential.city %}</div>
        </div>
    {% endpanel %}
    {% if show_contact %}
        {% panel _("Contact address") %}
            <div class="row">
                <div class="col-md-4">{% field_data _("Street number") coordonnees.contact.street_number %}</div>
                <div class="col-md-4">{% field_data _("Street") coordonnees.contact.street %}</div>
                <div class="col-md-4">{% field_data _("Box") coordonnees.contact.postal_box %}</div>
            </div>
            <div class="row">
                <div class="col-md-4">{% field_data _("Country") contact_country %}</div>
                <div class="col-md-4">{% field_data _("Postal code") coordonnees.contact.postal_code %}</div>
                <div class="col-md-4">{% field_data _("City") coordonnees.contact.city %}</div>
            </div>
        {% endpanel %}
    {% endif %}
    {% panel _("Contact") %}
        {% field_data _("Email") coordonnees.email %}
        {% field_data _("Mobile phone") coordonnees.phone_mobile %}
    {% endpanel %}
{% endblock %}
