{% extends "admission/doctorate/detail_tab_layout.html" %}
{% load i18n static admission index %}

{% block tab_content %}
    {% panel _("Personal information") %}
        {% field_data _("First name") person.first_name %}
        {% field_data _("Last name") person.last_name %}
        {% if person.middle_name %}
            {% field_data _("Other names") person.middle_name %}
        {% endif %}
        {% if person.birth_date %}
            {% field_data _("Birth date") person.birth_date %}
        {% elif person.birth_year %}
            {% field_data _("Birth year") person.birth_year %}
        {% endif %}
        {% field_data _("Birth country") birth_country %}
        {% field_data _("Birth place") person.birth_place %}
        {% field_data _("Country of citizenship") country_of_citizenship %}
        {% field_data _("ID photo") person.id_photo %}
        {% field_data _("Contact language") person.language %}
    {% endpanel %}

    {% panel _("Identification") %}
        {% field_data _("National number") person.national_number %}
        {% field_data _("ID card number") person.id_card_number %}
        {% field_data _("Passport number") person.passport_number %}
        {% field_data _("Passport expiration date") person.passport_expiration_date %}
        {% field_data _("ID card") person.id_card %}
        {% field_data _("Passport") person.passport %}
    {% endpanel %}
{% endblock %}
