{% extends "admission/doctorate/detail_tab_layout.html" %}
{% load bootstrap3 i18n static admission %}

{% block tab_content %}

    <a class="btn btn-primary" href="{% url "admission:doctorate-update:curriculum" admission.uuid %}">
        {% trans "Add a new experience" %}
    </a>

    {% if curriculum_experiences %}
        {% for experience in curriculum_experiences %}
            {% ifchanged experience.curriculum_year.academic_year %}
                <h4 class="experience-year bg-info">{{ experience.curriculum_year.academic_year }}-{{ experience.curriculum_year.academic_year|add:"1" }}</h4>
            {% endifchanged %}

            <section class="experience panel panel-default">
                <div class="panel-heading">
                    <h5>{{ experience.type.value|enum_display:"ExperienceType" }} - {{ experience.country.name }}</h5>
                    <div class="experience-actions">
                        {% if experience.valuated_from %}
                            <i class="glyphicon glyphicon-check" title="{% trans "This experience has been valuated." %}"></i>
                        {% else %}
                            <button
                                    class="btn btn-danger glyphicon glyphicon-trash"
                                    data-toggle="modal"
                                    data-target="#confirmation-modal"
                                    data-confirmed-id="{{ experience.id }}"
                                    aria-label="{% trans Delete %}"
                            >
                            </button>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body">
                    {% if experience.type.value == 'OTHER_ACTIVITY' %}
                        {% panel _('Institute') title_level=6 %}
                            {% field_data _("Institute name") experience.institute_name %}
                            {% field_data _("Institute city") experience.institute_city hide_empty=True %}
                        {% endpanel %}
                        {% panel _('Activity') title_level=6 %}
                            <div class="row">
                                {% field_data _("Type") experience.activity_type.value|enum_display:"ActivityType"|default:experience.other_activity_type css_class="col-md-6" hide_empty=True %}
                                {% field_data _("Activity position") experience.activity_position css_class="col-md-6" hide_empty=True %}
                            </div>
                            {% field_data _("Activity certificate") experience.activity_certificate %}
                        {% endpanel %}
                    {% elif experience.type.value == 'HIGHER_EDUCATION' and experience.country.iso_code == 'BE' %}
                        {% panel _('Institute') title_level=6 %}
                            {% field_data _("Institute name") experience.institute.name|default:experience.institute_name %}
                            {% field_data _("Education community") experience.belgian_education_community.value|enum_display:"BelgianCommunitiesOfEducation" %}
                            <div class="row">
                                {% field_data _("Institute city") experience.institute_city css_class="col-md-6" hide_empty=True %}
                                {% field_data _("Institute postal code") experience.institute_postal_code css_class="col-md-6" hide_empty=True %}
                            </div>
                        {% endpanel %}
                        {% panel _('Studies') title_level=6 %}
                            <div class="row">
                                {% if experience.belgian_education_community.value == 'FRENCH_SPEAKING' %}
                                    {% field_data _("Program") experience.program.title|default:experience.education_name css_class="col-md-6"%}
                                {% else %}
                                    {% field_data _("Name of the diploma or of the education") experience.education_name css_class="col-md-6"%}
                                {% endif %}
                                {% field_data _("Study cycle type") experience.study_cycle_type.value|enum_display:"ForeignStudyCycleType" css_class="col-md-6" %}
                            </div>
                            {% field_data _("Linguistic regime") experience.linguistic_regime.name %}
                        {% endpanel %}
                        {% panel _('Results') title_level=6 %}
                            <div class="row">
                                {% field_data _("Result") experience.result.value|enum_display:"Result" css_class="col-md-6" %}
                                {% field_data _("Is it your graduation year?") experience.graduation_year|yesno:_("Yes,No") css_class="col-md-6" hide_empty=True %}
                            </div>
                            {% if experience.graduation_year %}
                                <div class="row">
                                    {% field_data _("Obtained grade") experience.obtained_grade.value|enum_display:"Grade" css_class="col-md-6" %}
                                    {% field_data _("Rank in diploma") experience.rank_in_diploma css_class="col-md-6" %}
                                </div>
                                <div class="row">
                                    {% field_data _("Issue diploma date") experience.issue_diploma_date css_class="col-md-6" %}
                                    {% field_data _("Graduate degree") experience.graduate_degree css_class="col-md-6" %}
                                </div>
                            {% endif %}
                            <hr>
                            <div class="row">
                                {% field_data _("Credit type") experience.credit_type.value|enum_display:"CreditType" css_class="col-md-6" %}
                                {% field_data _("Acquired credit number") experience.acquired_credits_number|add_str:_(" on ")|add_str:experience.entered_credits_number css_class="col-md-6" %}
                            </div>
                            {% field_data _("Transcript") experience.transcript %}
                            {% field_data _("Access certificate after a 60 master") experience.access_certificate_after_60_master hide_empty=True %}
                            <hr>
                            {% field_data _("Dissertation title") experience.dissertation_title %}
                            <div class="row">
                                {% field_data _("Dissertation summary") experience.dissertation_summary css_class="col-md-6" %}
                                {% field_data _("Dissertation score") experience.dissertation_score css_class="col-md-6" %}
                            </div>
                        {% endpanel %}
                        {% field_data _("Curriculum") experience.curriculum %}
                    {% else %}
                        {% panel _('Institute') title_level=6 %}
                            {% field_data _("Institute name") experience.institute.name|default:experience.institute_name %}
                            <div class="row">
                                {% field_data _("Institute city") experience.institute_city css_class="col-md-6" hide_empty=True %}
                                {% field_data _("Institute postal code") experience.institute_postal_code css_class="col-md-6" hide_empty=True %}
                            </div>
                        {% endpanel %}
                        {% panel _('Studies') title_level=6 %}
                            <div class="row">
                                {% field_data _("Program") experience.education_name css_class="col-md-6"%}
                                {% field_data _("Study system") experience.study_system.value|enum_display:"StudySystem" css_class="col-md-6" %}
                            </div>
                        {% endpanel %}
                        {% panel _('Results') title_level=6 %}
                            <div class="row">
                                {% field_data _("Result") experience.result.value|enum_display:"Result" css_class="col-md-6" %}
                                {% field_data _("Is it your graduation year?") experience.graduation_year|yesno:_("Yes,No") css_class="col-md-6" hide_empty=True %}
                            </div>
                            {% if experience.graduation_year %}
                                <div class="row">
                                    {% field_data _("Obtained grade") experience.obtained_grade.value|enum_display:"Grade" css_class="col-md-6" %}
                                    {% field_data _("Rank in diploma") experience.rank_in_diploma css_class="col-md-6" %}
                                </div>
                                {% field_data _("Issue diploma date") experience.issue_diploma_date %}
                                <div class="row">
                                    {% field_data _("Graduate degree") experience.graduate_degree css_class="col-md-6" %}
                                    {% field_data _("Graduate degree translation") experience.graduate_degree_translation css_class="col-md-6" %}
                                </div>
                            {% endif %}
                            <hr>
                            <div class="row">
                                {% field_data _("Credit type") experience.credit_type.value|enum_display:"CreditType" css_class="col-md-6" %}
                                {% field_data _("Acquired credit number") experience.acquired_credits_number|add_str:_(" on ")|add_str:experience.entered_credits_number css_class="col-md-6" %}
                            </div>
                            <div class="row">
                                {% field_data _("Transcript") experience.transcript css_class="col-md-6" %}
                                {% field_data _("Transcript translation") experience.transcript_translation css_class="col-md-6" %}
                            </div>
                            {% field_data _("Access certificate after a 60 master") experience.access_certificate_after_60_master hide_empty=True %}
                            <hr>
                            {% field_data _("Dissertation title") experience.dissertation_title %}
                            <div class="row">
                                {% field_data _("Dissertation summary") experience.dissertation_summary css_class="col-md-6" %}
                                {% field_data _("Dissertation score") experience.dissertation_score css_class="col-md-6" %}
                            </div>
                        {% endpanel %}
                    {% endif %}
                </div>
            </section>
        {% endfor %}

    {% else %}
        {% panel %}
            {% trans "The CV doesn't yet contain any experience." %}
        {% endpanel %}
    {% endif %}

    <!-- Delete confirmation modal -->
    {% include 'admission/modal/confirmation_modal.html' with confirmation_text=_("Are you sure you want to delete this experience?") %}

    <!-- Experience creation / updating modal -->
    {% if form %}
        {% include 'admission/modal/form_modal.html' with form=form %}
    {% endif %}

{% endblock %}

{% block style %}
    <style>
        hr {
            margin-top: 0;
        }
        .experience-year {
            padding: 1em;
            border: 1px solid #cccc;
            font-size: 16px;
        }
        .experience .panel-heading h6 {
            font-size: 15px;
        }
        .experience .panel-heading h5 {
            font-size: 15px;
        }
        .experience > .panel-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
        }
        .form-group.required_field .control-label:after {
            content: " *";
            color: red;
        }
    </style>
{% endblock %}

{% block script %}
    {% if form %}
        {{ form.media }}
    {% endif %}
    <script type="application/javascript">
        $(function () {
            // Delete confirmation modal
            $('#confirmation-modal').on('show.bs.modal', function (event) {
                const triggeredButton = $(event.relatedTarget);
                const modal = $(this);
                modal.find('input[name="confirmed-id"]').val(triggeredButton.data('confirmed-id'));
            });

            const BE_ISO_CODE = '{{ BE_ISO_CODE }}';

            const ACTIVITY_CERTIFICATE_HELP_TEXT = {
                ILLNESS: "{% trans 'Medical certificate, with dates, justifying this academic year.' %}",
                INTERNSHIP: "{% trans 'Training certificate, with dates, justifying this academic year.' %}",
                OTHER: "{% trans 'Document justifying your activity for this academic year.' %}",
                UNEMPLOYMENT: "{% trans 'Unemployment certificate, with dates, justifying this academic year.' %}",
                VOLUNTEERING: "{% trans 'Certificate, with dates, justifying your volunteer activities during this academic year.' %}",
                WORK: "{% trans 'Employment certificate from the employer, with dates, justifying this academic year.' %}",
            };

            {% if form %}
                $.fn.modal.Constructor.prototype.enforceFocus = function() {}; // Fix to use select2 into a bootstrap modal

                // Open the form modal
                $('#form-modal').modal('show');

                // Show or hide the inputs depending on the values of other fields
                // Higher education part
                $('#experience-form-education').dependsOn({
                    'input[name="type"]': { values: ['HIGHER_EDUCATION'], checked: true },
                    '#id_country': { not: [null] },
                })
                $('#experience-form-education-institute').dependsOn({
                    '#id_country': { values: [BE_ISO_CODE] },
                }).or({
                    '#id_study_cycle_type': { not: ['', null, 'OTHER_HIGHER_EDUCATION' ]},
                });
                $('#institute_not_found_container').dependsOn({
                    '#id_institute_not_found': { checked: true }
                });
                $('#id_graduation_year').dependsOn({
                    '#id_result': {
                        values: [
                            'SUCCESS',
                            'SUCCESS_WITH_RESIDUAL_CREDITS',
                        ],
                    },
                });
                $('#graduation-year-results-fields').dependsOn({
                    '#id_graduation_year': { checked: true },
                });
                $('#id_education_name').dependsOn({
                    '#id_country': { not: [BE_ISO_CODE] },
                }).or({
                    'input[name="belgian_education_community"]': {
                        values: [
                            'FLEMISH_SPEAKING',
                            'GERMAN_SPEAKING',
                        ],
                        checked: true,
                    },
                })
                // Belgian studies part
                $('.belgian-education-fields').dependsOn({
                    '#id_country': { values: [BE_ISO_CODE] },
                });
                $('.french-community-fields').dependsOn({
                    'input[name="belgian_education_community"]': { values: ['FRENCH_SPEAKING'], checked: true, },
                });
                $('#id_other_program').dependsOn({
                    '#id_program_not_found': { checked: true },
                });
                // Foreign studies part
                $('.foreign-education-fields').dependsOn({
                    '#id_country': { not: [BE_ISO_CODE] },
                });
                $('.translation-fields').dependsOn({
                    '#id_linguistic_regime': { not: ['FR', 'NE', 'DE', 'EN', 'IT', 'ES', 'PT'] },
                })
                // Other occupation part
                $('#experience-form-activity').dependsOn({
                    'input[name="type"]': { values: ['OTHER_ACTIVITY'], checked: true, },
                });
                $('#id_other_activity_type').dependsOn({
                    'input[name="activity_type"]': { values: ['OTHER'], checked: true, },
                });
                $('.other-active-activity').dependsOn({
                    'input[name="activity_type"]': {
                        values:
                            [
                                'WORK',
                                'INTERNSHIP',
                                'VOLUNTEERING',
                                'OTHER',
                            ],
                        checked: true,
                    },
                });
                const setActivityCertificateHelpText = (value) => {
                    $('#activity-certificate-help-text').text(value ? ACTIVITY_CERTIFICATE_HELP_TEXT[value] : '');
                };
                $('input[name="activity_type"]').change(function () {
                    setActivityCertificateHelpText(this.value);
                });
                setActivityCertificateHelpText($('input[name="activity_type"]:checked').val())

                // Disable the hidden inputs when submitting the form to prevent to send undesired values
                $('#form-modal form').submit(function () {
                    $('#form-modal form div:hidden').children(':input').prop("disabled", true);
                });

            {% endif %}
        });
    </script>
{% endblock %}
