{% extends "admission/doctorate/detail_tab_layout.html" %}{% load i18n static admission %}

{% block tab_content %}

    {% panel _("Promoters") %}
        {% for signature in supervision.signatures_promoteurs %}
            {% url 'admission:doctorate-update:remove-actor' view.kwargs.pk 'PROMOTER' signature.promoteur.matricule as remove_url %}
            <div class="row">
                <div class="col-md-8">
                    <strong>{{ signature.promoteur.prenom }} {{ signature.promoteur.nom }}</strong>
                    {{ signature.status|enum_display:'ChoixEtatSignature' }}
                </div>
                <div class="col-md-4">
                    <a href="{{ remove_url }}" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Retirer
                    </a>
                </div>
            </div>
            {% if not forloop.last %}
                <hr/>
            {% endif %}
        {% empty %}
            {% trans "No one invited" %}
        {% endfor %}
    {% endpanel %}

    {% panel _("CA members") %}
        {% for signature in supervision.signatures_membres_ca %}
            {% url 'admission:doctorate-update:remove-actor' view.kwargs.pk 'CA_MEMBER' signature.membre_ca.matricule as remove_url %}
            <div class="row">

                <div class="col-md-8">
                    <strong>{{ signature.membre_ca.prenom }} {{ signature.membre_ca.nom }}</strong>
                    {{ signature.status|enum_display:'ChoixEtatSignature' }}
                </div>
                <div class="col-md-4">
                    <a href="{{ remove_url }}" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Retirer
                    </a>
                </div>
            </div>
            {% if not forloop.last %}
                <hr/>
            {% endif %}
        {% empty %}
            {% trans "No one invited" %}
        {% endfor %}
    {% endpanel %}

{% endblock %}
