{% extends "admission/doctorate/form_tab_layout.html" %}{% load bootstrap3 i18n static admission %}

{% block form %}
    {% bootstrap_form_errors form %}

    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Doctoral project" %}
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {% bootstrap_field form.type_admission %}
                    <p>
                        Ad voluptas quaerat ex blanditiis in magnam. Quod
                        excepturi totam voluptatem et. Porro quaerat id sint.
                        Est qui eveniet quis quae repudiandae voluptatem.
                        Officiis minus magni ratione quidem omnis. Dolor
                        consequatur magni perspiciatis voluptatum. </p>
                </div>
                <div class="col-md-12" id="justification">
                    {% bootstrap_field form.justification %}
                </div>
            </div>
            {% if not admission %}
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.sector %}
                    </div>
                </div>
                <div class="row" id="doctorate">
                    <div class="col-md-6">
                        {% bootstrap_field form.doctorate %}
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    <label>{% trans "Secteur" %}</label>
                    <span>{{ admission.code_secteur_formation }}</span>
                </div>
                <div class="form-group">
                    <label>{% trans "Doctorat" %}</label>
                    <span>{{ admission.intitule_doctorat_fr }}</span>
                </div>
            {% endif %}
            <div class="row" id="bureau">
                <div class="col-md-4">
                    {% bootstrap_field form.bureau_cde %}
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Financing" %}
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    {% bootstrap_field form.type_financement %}
                </div>
            </div>
            <div class="row" id="work">
                <div class="col-md-4">
                    {% bootstrap_field form.type_contrat_travail %}
                </div>
                <div class="col-md-4" id="type_contrat_travail_other">
                    {% bootstrap_field form.type_contrat_travail_other %}
                </div>
                <div class="col-md-4">
                    {% bootstrap_field form.eft %}
                </div>
            </div>
            <div class="row" id="scholarship">
                <div class="col-md-4">
                    {% bootstrap_field form.bourse_recherche %}
                </div>
                <div class="col-md-4" id="bourse_recherche_other">
                    {% bootstrap_field form.bourse_recherche_other %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {% bootstrap_field form.duree_prevue %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {% bootstrap_field form.temps_consacre %}
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Doctoral project" %}
        </div>

        <div class="panel-body">
            {% bootstrap_field form.titre_projet %}
            {% bootstrap_field form.resume_projet %}
            <div class="row">
                <div class="col-md-4">
                    {% bootstrap_field form.langue_redaction_these %}
                </div>
            </div>
            {% bootstrap_field form.documents_projet %}
            {% bootstrap_field form.graphe_gantt %}
            {% bootstrap_field form.proposition_programme_doctoral %}
            {% bootstrap_field form.projet_formation_complementaire %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Previous research experience" %}
        </div>

        <div class="panel-body">
            {% bootstrap_field form.doctorat_deja_realise %}
            <div id="previous_experience">
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.institution %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {% bootstrap_field form.date_soutenance %}
                    </div>
                </div>
                {% bootstrap_field form.raison_non_soutenue %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ form.media }}
    <script type="application/javascript">
    $(function () {
        {% if not admission %}
            // Justification depends on pre-admission
            $('#justification').dependsOn({
                'input[name=type_admission]': { values: ['PRE_ADMISSION'] },
            }, { valueOnDisable: '' });

            // Reset doctorate when changing sector
            $('#id_sector').change(function () {
                $('#id_doctorate').val(null).trigger('change');
            });
            // Doctorate depends on sector
            $('#doctorate').dependsOn({
                '#id_sector': { not: [''] },
            });

            // When a value is already set in select2, it won't be replaced by
            // ajax call, so we compare the data to evaluate if CDE is present
            {% if form.doctorate_data %}
            var initialData = {{ form.doctorate_data|safe }};
            {% else %}
            var initialData = false;
            {% endif %}

            // Bureau depends on doctorate
            $('#bureau').dependsOn({
                '#id_doctorate': {
                    changed: function () {
                        var data = $('#id_doctorate').select2('data')
                        if (initialData && data[0].id === initialData.id) {
                            data = [initialData];
                        }
                        if (data.length && data[0].sigle_entite_gestion === 'CDE') {
                            return true;
                        }
                    },
                },
            }, { valueOnDisable: '' });
        {% endif %}
        $('#work').dependsOn({
            '#id_type_financement': { values: ['WORK_CONTRACT'] },
        }, { valueOnDisable: '' });
        $('#scholarship').dependsOn({
            '#id_type_financement': { values: ['SEARCH_SCHOLARSHIP'] },
        }, { valueOnDisable: '' });
        $('#type_contrat_travail_other').dependsOn({
            '#id_type_contrat_travail': { values: ['OTHER'] },
        }, { valueOnDisable: '' });
        $('#bourse_recherche_other').dependsOn({
            '#id_bourse_recherche': { values: ['OTHER'] },
        }, { valueOnDisable: '' });
        $('#previous_experience').dependsOn({
            '#id_doctorat_deja_realise': { values: ['YES', 'PARTIAL'] },
        }, { valueOnDisable: '' });
    });
    </script>
{% endblock %}
