{% extends "admission/doctorate/form_tab_layout.html" %}
{% load bootstrap3 i18n static admission %}

{% block form %}
    {% bootstrap_form_errors main_form %}
    {% bootstrap_form_errors residential %}
    {% bootstrap_form_errors contact %}

    {% panel _("Residential address") %}
        <div class="row">
          <div class="col-md-3">{% bootstrap_field residential.street_number %}</div>
          <div class="col-md-3">{% bootstrap_field residential.street %}</div>
            <div class="col-md-3">{% bootstrap_field residential.postal_box %}</div>
            <div class="col-md-3">{% bootstrap_field residential.location %}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{% bootstrap_field residential.country %}</div>
            <div id="not-be-residential-address">
              <div class="col-md-4">{% bootstrap_field residential.postal_code %}</div>
              <div class="col-md-4">{% bootstrap_field residential.city %}</div>
            </div>
            <div id="be-residential-address">
              <div class="col-md-4">{% bootstrap_field residential.be_postal_code %}</div>
              <div class="col-md-4">{% bootstrap_field residential.be_city %}</div>
            </div>
        </div>
        <div>{% bootstrap_field main_form.show_contact %}</div>
    {% endpanel %}

    {% panel _("Contact address") id="contact_address" %}
        <div class="row">
            <div class="col-md-3">{% bootstrap_field contact.street_number %}</div>
            <div class="col-md-3">{% bootstrap_field contact.street %}</div>
            <div class="col-md-3">{% bootstrap_field contact.postal_box %}</div>
            <div class="col-md-3">{% bootstrap_field contact.location %}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{% bootstrap_field contact.country %}</div>
            <div id="not-be-contact-address">
              <div class="col-md-4">{% bootstrap_field contact.postal_code %}</div>
              <div class="col-md-4">{% bootstrap_field contact.city %}</div>
            </div>
            <div id="be-contact-address">
              <div class="col-md-4">{% bootstrap_field contact.be_postal_code %}</div>
              <div class="col-md-4">{% bootstrap_field contact.be_city %}</div>
            </div>
        </div>
    {% endpanel %}

    {% panel _("Contact") %}
        <div class="row">
          <div class="col-md-6">{% bootstrap_field main_form.phone_mobile %}</div>
          <div class="col-md-6">{% bootstrap_field main_form.email %}</div>
        </div>
    {% endpanel %}
{% endblock %}

{% block script %}
    {{ main_form.media }}
    {{ residential.media }}
    <script type="application/javascript">
    $(function () {
        //-------------------------------------------------------------------------------
        // Activate belgian or not belgian fields for postal code and city autocompletion
        //-------------------------------------------------------------------------------
        let beIsoCode = '{{BE_ISO_CODE}}';
        $('#be-residential-address').dependsOn({
          '#id_residential-country': { values: [beIsoCode] },
        });
        $('#not-be-residential-address').dependsOn({
          '#id_residential-country': { not: [beIsoCode] },
        });
        $('#be-contact-address').dependsOn({
          '#id_contact-country': { values: [beIsoCode] },
        });
        $('#not-be-contact-address').dependsOn({
          '#id_contact-country': { not: [beIsoCode] },
        });
        //-------------------------------------------------------------------------------


        //**********************************************************
        // "city" depends on "postal code" that depends on "country"
        //**********************************************************
        $('#id_residential-postal_code').dependsOn({
          '#id_residential-country': { not: [''] },
        }, { valueOnDisable: '', hide: false });
        $('#id_residential-city').dependsOn({
          '#id_residential-country': { not: [''] },
          '#id_residential-postal_code': { not: [''] },
        }, { valueOnDisable: '', hide: false });
        // Activate the contact form if the 'show_contact' box is checked
        $('#contact_address').dependsOn({
            '#id_show_contact': { checked: true },
        }, { valueOnDisable: '' });
        // "city" depends on "postal code" that depends on "country"
        $('#id_contact-postal_code').dependsOn({
          '#id_show_contact': { checked: true },
          '#id_contact-country': { not: [''] },
        }, { valueOnDisable: '', hide: false });
        $('#id_contact-city').dependsOn({
          '#id_show_contact': { checked: true },
          '#id_contact-country': { not: [''] },
          '#id_contact-postal_code': { not: [''] },
        }, { valueOnDisable: '', hide: false });
        //**********************************************************
    });
    </script>
{% endblock %}
