{% load i18n static admission %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        <ul>
            {% for error in form.non_field_errors %}
                <li> {{ error }} </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<!-- request signatures modal -->
<div
    class="modal fade"
    id="request-signatures-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="request-signatures-label"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4
                    class="modal-title"
                    id="request-signatures-label"
                >{{ admission.intitule_doctorat_fr }}</h4>
            </div>
            <form
                class="osis-form"
                id="request-signatures-form"
                method="post"
                action="{% url 'admission:doctorate-request-signatures' view.kwargs.pk %}"
            >
                {% csrf_token %}
                <div class="modal-body">
                    <p>
                        {% trans "Are you sure you want to request signatures for this admission?" %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        {% trans "Confirm" %}
                    </button>
                    <button
                        type="button"
                        class="btn btn-default"
                        data-dismiss="modal"
                    >
                        {% trans "Close" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<form class="osis-form" method="post" action="">
    {% csrf_token %}

    {% if errors %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for error in errors %}
                    <li> {{ error.detail }} </li>
                {% endfor %}
            </ul>
        </div>
        <p>
            {% trans "You must correct your proposition before being able to request signatures." %}
        </p>
    {% else %}
        <p>
            {% trans "Are you sure you want to request signatures for this admission?" %}
        </p>

        <script type="application/javascript">
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Submit post on submit
        document.querySelector('#request-signatures-form').addEventListener('submit', function (event) {
            event.preventDefault();
            console.log('form submitted!');  // sanity check
            fetch(event.target.action, {
                method: 'POST',
                credentials: 'include',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                },
            }).then(data => {
                {# TODO handle and display errors #}
                console.log(data.json());
            }).catch(error => {
                // Handle error
                console.log(error);
            });
        });

        </script>

        <p>
            {% trans "Are you sure you want to request signatures for this admission?" %}
        </p>

        <button type="submit" class="btn btn-success">
            {% trans "Confirm" %}
        </button>
    {% endif %}
    <a href="{% url 'admission:doctorate-detail' view.kwargs.pk %}">
        {% trans "Back to my request" %}
    </a>

</form>
{% endblock %}
