{% extends "admission/doctorate/form_tab_layout.html" %}
{% load bootstrap3 i18n static admission %}

{% block tab_content %}
    {% doctorate_tabs admission %}
  <div class="row">
    <div class="col-md-2 visible-md visible-lg">
      {% doctorate_subtabs admission %}
        </div>
        <div class="col-md-10">
            <div class="alert alert-info confirmation-header">
                <p>{% trans "You have now reached the confirmation tab of your enrolment request."%}</p>
                <p class="text-justify">
                    {% blocktrans trimmed %}
                        BEFORE proceeding to confirmation here below, please read again the data you entered in the previous tabs in order to
                        be sure you did not enter any errors or forgot to complete certain fields. It are indeed these same data that will be used
                        during the complete period of your university studies.
                        If all data seem correct according to you, please proceed to the confirmation of your enrolment request here below.
                    {% endblocktrans %}
                </p>
            </div>

            {% if missing_confirmation_conditions %}
                <p class="alert alert-danger">
                    {% trans "Your enrolment cannot be confirmed. All the following conditions must be met to do it." %}
                </p>
            {% else %}
                <p class="alert alert-success">
                    {% trans "Your enrolment can be confirmed as all the necessary conditions have been met." %}
                </p>
            {% endif %}

            <table class="table table-bordered">
                {% for tab, value in missing_confirmation_conditions.items %}
                    <tr class="errors-tab">
                        <td>
                            {% if value.errors %}
                                <p class="tab-name">
                                    <i class="fa fa-times text-danger"></i>
                                    {{ value.name }}
                                </p>
                                <ul>
                                    {% for error in value.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p class="tab-name">
                                    <i class="fa fa-check text-success"></i>
                                    {{ value.name }}
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <form class="osis-form text-justify" method="post" action="" id="confirmation-form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <p class="confirmation-warning">
                    {% blocktrans trimmed %}
                        Any false declaration or deliberate omission regarding the constitution of the application file
                        constitues a fraud on registration. Anyone suspected of fraud will be invited to provide further
                        explanation or clarification (Article 16 et 17 - Section 2 du Chapitre 1 du Titre III du
                        Règlement général des études et des examens de l'UCLouvain).
                    {% endblocktrans %}
                </p>
                <button
                        type="submit"
                        class="btn btn-primary pull-right"
                        disabled
                >
                    {% trans "Confirm my request for application" %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block style %}
    {{ block.super }}

    <style>
        .confirmation-header {
            padding: 1em;
        }
        .tab-name {
            margin: 0.5em;
            font-weight: bold;
        }
        .confirmation-warning {
            margin: 2em 0;
        }
        .form-group label:after {
          content: " *";
          color: red;
        }

    </style>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script type="application/javascript">
        $(function () {
            const form = $('#confirmation-form')[0];
            const formButton = $('button', form).first();

            {% if missing_confirmation_conditions %}
                formButton.prop('disabled', true);
            {% else %}
                $('input[type="checkbox"]', form).change(function() {
                    formButton.prop('disabled', !form.checkValidity());
                }).change()
            {% endif %}
        })
    </script>
{% endblock %}
