{% extends detail_base_template|default:"admission/doctorate/detail_tab_layout.html" %}
{% load bootstrap3 i18n static admission %}

{% block tab_content %}
  <!-- List of experiences -->
  {% include 'admission/doctorate/includes/curriculum_experience_list.html' with minimal_year=minimal_year professional_experiences=professional_experiences educational_experiences=educational_experiences proposition_id=view.kwargs.pk with_editing_options=True %}

  <form method="post">
    {% csrf_token %}

    {% bootstrap_form_errors form %}

    {% panel _('Submit my curriculum vitae') %}
      <div class="required_field">
        {% bootstrap_field form.curriculum %}
      </div>
    {% endpanel %}

    {% bootstrap_field form.specific_question_answers show_label=False error_css_class='' %}

    <button
        type="submit"
        class="btn btn-primary pull-right"
    >
      {% translate "Save" %}
    </button>
  </form>
{% endblock %}

{% block script %}
  {{ block.super }}

  <script type="application/javascript">
      $(function () {
          document.dispatchEvent(new Event('refreshFormInitial'));
      });
  </script>
{% endblock %}

{% block style %}
  {{ block.super }}
  <style>
    td {
      vertical-align : middle !important;
    }
  </style>
{% endblock %}