{% load static i18n admission %}

<div class="dashboard-admission">
    <div class="dashboard-grid dashboard-fixed-placement" >

        {% get_dashboard_links as links %}
        {% if 'url' in links.list_propositions %}
        <div class="grid-item">
            <i class="far fa-address-card" style="grid-area: icon;"></i>
            <h4 class="media-heading" style="grid-area: title;">
                <a href="{% url 'admission:doctorate-list' %}" id="lnk_admission">
                    {% trans 'My enrolment request' %}
                </a>
            </h4>
            <div class="description" style="grid-area: description;">
                <p>{% trans 'Create and manage my enrolment request for UCLouvain' %}.</p>
            </div>
        </div>
        {% endif %}
        {% if 'url' in links.list_supervised %}
        <div class="grid-item">
            <i class="far fa-address-card" style="grid-area: icon;"></i>
                <h4 class="media-heading" style="grid-area: title;">
                    <a
                            href="{% url 'admission:supervised-list' %}"
                            id="lnk_member_admission"
                    >
                        {% trans 'Manage doctorates' %}
                    </a>
                </h4>
            <div class="description" style="grid-area: description;">
                <p>{% trans "Access my doctoral students' requests" %}.</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>


<!-- show delimiter if any admission tile -->
{% if 'url' in links.list_propositions or 'url' in links.list_supervised %}
    <hr/>
{% endif %}

